{% extends 'showcase/base.html' %}

{% block body_block %}
    <div class="row">
        <h2>{% if cat %} {{cat.name}} {% endif %} Demos</h2>
        {% if hero %}
        <div class="callout panel">
            <div class="row">
                <div class="large-4 columns">
                    {% if hero.screenshot %}
                            <a class="th" href="{{hero.url}}">
                            <img width="256" height="256" src="media/{{hero.screenshot}}" alt="{{hero.name}}" />
                            </a>
                    {% else %}
                            <img width="256" height="256" src="http://lorempixel.com/256/256/abstract/" />
                    {% endif %}
                </div>
                <div class="large-8 columns">
                    <h2><a href="/showcase/demo/show/{{hero.id}}/">{{ hero.name }}</a> </h2>

                    <h3>{{hero.tagline}}</h3>
                    <h4>{{hero.description|truncatewords:20}}</h4>
                    <h4>Created by: <a href="/showcase/team/{{hero.team.id}}/">{{hero.team.name}}</a></h4>
                        {% if hero.rating_average > 2 %}
                            <span class="label success round">{{hero.rating_average}}</span>
                        {% else %}
                            <span class="label alert round">{{hero.rating_average}}</span>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="panel">
            {% if demos %}
                    {% for d in demos %}
                    {% cycle '<div class="row">' '' '' '' %}
                        <div class="large-3 columns">
                            <div class="row">
                            {% if d.screenshot %}
                                <a class="th" href="{{demo.url}}">
                                <img src="media/{{d.screenshot}}" width="128" height="128" alt="{{d.name}}" />
                                </a>
                            {% else %}
                                <img width="128" height="128" src="http://lorempixel.com/128/{{d.id|add:128}}/abstract/" />
                            {% endif %}
                            </div>
                            <div class="row">

                            </div>
                            <div class="row" >
                                <h5>{% if d.rating_average > 2 %}
                                    <span class="label success round">{{d.rating_average}}</span>
                                {% else %}
                                    <span class="label alert round">{{d.rating_average}}</span>
                                {% endif %}
                                    <a href="/showcase/demo/show/{{d.id}}/">{{ d.name }}</a>
                                   </h5>
                                <h6 style="min-height:20px">{{d.tagline}}</h6>

                           </div>
                            <div class="row">


                            </div>

                        </div>
                    {% cycle '' '' '' '</div><hr />' %}
                    {% endfor %}
                {% else %}
                    <strong>There are no demos present.</strong>
                {% endif %}



        </div>






    </div>
{% endblock %}




